<div>
    <div class="main">
        <div class="content">
            <div ng-if="consentCtrl.showQuiz">
                <form ng-submit="consentCtrl.checkQuiz()">
                    <div class="consent-block">
                        <label>
                            How much of your browser history will you be contributing?
                        </label>
                        <div>
                            <input type="radio" ng-model="consentCtrl.browserHistory" value="1">
                            All of my browsing history
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.browserHistory" value="2">
                            Part of my browsing history, based on which sites I visit
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.browserHistory" value="3">
                            None of my browsing history
                        </div>
                    </div>

                    <div class="consent-block">
                        <label>
                            How can I know when Batea is contributing my browsing
                            patterns?
                        </label>
                        <div>
                            <input type="radio" ng-model="consentCtrl.browserPatterns" value="1">
                            Batea is recording when the icon is green, but not when it's red or blank
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.browserPatterns" value="2">
                            Batea is recording when the icon is blinking
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.browserPatterns" value="3">
                            Batea is recording when the icon is red
                        </div>
                    </div>

                    <div class="consent-block">
                        <label>
                            Is it possible that my identity will be released along with my data?
                        </label>
                        <div>
                            <input type="radio" ng-model="consentCtrl.identity" value="1">
                            Batea will attempt to separate my identity from my data, but this
                            process cannot be made perfect and it is possible that my identity
                            could be merged back with my data accidentally
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.identity" value="2">
                            Batea will release my data in such a way that it is impossible
                            to reunite with my identity
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.identity" value="3">
                            Batea will release my identity with my data
                        </div>
                    </div>

                    <div class="consent-block">
                        <label>
                            What will happen to my data once I contribute it to the Batea project?
                        </label>
                        <div>
                            <input type="radio" ng-model="consentCtrl.happen" value="1">
                            It will be shared only with select universities
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.happen" value="2">
                            De-identified versions of the data will be shared publicly,
                            and identified versions may only be shared with other researchers
                            under non-disclosure agreements
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.happen" value="3">
                            The data will be kept secure on the servers and not shared with anyone
                        </div>
                    </div>

                    <div class="consent-block">
                        <label>
                            How do I prevent Batea from recording my current browsins session?
                        </label>
                        <div>
                            <input type="radio" ng-model="consentCtrl.session" value="1">
                            Batea's recording status can be changed by clicking its icon
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.session" value="2">
                            Batea's recording status can be changed in extension settings
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.session" value="3">
                            Batea's recording status cannot be changed
                        </div>
                    </div>

                    <div class="consent-block">
                        <label>
                        What can I do when Batea presents me with a popup survey that
                        I do not want to answer?
                        </label>
                        <div>
                            <input type="radio" ng-model="consentCtrl.survey" value="1">
                            I can skip that survey and also disable future surveys in
                            Batea extension settings
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.survey" value="2">
                            I must complete all surveys to be included in the study
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.survey" value="3">
                            I can postpone filling out the survey
                        </div>
                    </div>

                    <div class="consent-block">
                        <label>
                        If I choose to withdraw consent
                        </label>
                        <div>
                            <input type="radio" ng-model="consentCtrl.withdraw" value="1">
                            Batea will remove my data from their servers, but cannot
                            get third parties to remove the data from what they have downloaded
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.withdraw" value="2">
                            Batea will be able to remove all data that I have donated it
                            from the Internet forever
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.withdraw" value="3">
                            Batea will remove my identity, but keep my data
                        </div>
                    </div>
                </form>
                <button ng-click="consentCtrl.checkQuiz()">Submit</button>
            </div>

            <div ng-if="consentCtrl.showConsentForm">

            </div>
        </div>
    </div>
</div>