<div>
    <div class="main">
        <div class="content">
            <div ng-if="consentCtrl.showQuiz">
                <p class="page-title">Consent Quiz</p>
                <p>
                    Please take the following quiz to verify that you understand
                    the risks and benefits associated with the Batea Research Study.
                </p>
                <form ng-submit="consentCtrl.checkQuiz()">
                    <div class="consent-block">
                        <label>
                            How much of your browser history will you be contributing?
                        </label>
                        <div>
                            <input type="radio" ng-model="consentCtrl.browserHistory" value="1">
                            All of my browsing history
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.browserHistory" value="2">
                            Part of my browsing history, based on which sites I visit
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.browserHistory" value="3">
                            None of my browsing history
                        </div>
                    </div>

                    <div class="consent-block">
                        <label>
                            How can I know when Batea is contributing my browsing
                            patterns?
                        </label>
                        <div>
                            <input type="radio" ng-model="consentCtrl.browserPatterns" value="1">
                            Batea is recording when the icon is green, but not when it's red or blank
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.browserPatterns" value="2">
                            Batea is recording when the icon is blinking
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.browserPatterns" value="3">
                            Batea is recording when the icon is red
                        </div>
                    </div>

                    <div class="consent-block">
                        <label>
                            Is it possible that my identity will be released along with my data?
                        </label>
                        <div>
                            <input type="radio" ng-model="consentCtrl.identity" value="1">
                            Batea will attempt to separate my identity from my data, but this
                            process cannot be made perfect and it is possible that my identity
                            could be merged back with my data accidentally
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.identity" value="2">
                            Batea will release my data in such a way that it is impossible
                            to reunite with my identity
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.identity" value="3">
                            Batea will release my identity with my data
                        </div>
                    </div>

                    <div class="consent-block">
                        <label>
                            What will happen to my data once I contribute it to the Batea project?
                        </label>
                        <div>
                            <input type="radio" ng-model="consentCtrl.happen" value="1">
                            It will be shared only with select universities
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.happen" value="2">
                            De-identified versions of the data will be shared publicly,
                            and identified versions may only be shared with other researchers
                            under non-disclosure agreements
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.happen" value="3">
                            The data will be kept secure on the servers and not shared with anyone
                        </div>
                    </div>

                    <div class="consent-block">
                        <label>
                            How do I prevent Batea from recording my current browsing session?
                        </label>
                        <div>
                            <input type="radio" ng-model="consentCtrl.session" value="1">
                            Batea's recording status can be changed by clicking its icon
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.session" value="2">
                            Batea's recording status can be changed in extension settings
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.session" value="3">
                            Batea's recording status cannot be changed
                        </div>
                    </div>

                    <div class="consent-block">
                        <label>
                        What can I do when Batea presents me with a popup survey that
                        I do not want to answer?
                        </label>
                        <div>
                            <input type="radio" ng-model="consentCtrl.survey" value="1">
                            I can skip that survey and also disable future surveys in
                            Batea extension settings
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.survey" value="2">
                            I must complete all surveys to be included in the study
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.survey" value="3">
                            I can postpone filling out the survey
                        </div>
                    </div>

                    <div class="consent-block">
                        <label>
                        If I choose to withdraw consent
                        </label>
                        <div>
                            <input type="radio" ng-model="consentCtrl.withdraw" value="1">
                            Batea will remove my data from their servers, but cannot
                            get third parties to remove the data from what they have downloaded
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.withdraw" value="2">
                            Batea will be able to remove all data that I have donated it
                            from the Internet forever
                        </div>
                        <div>
                            <input type="radio" ng-model="consentCtrl.withdraw" value="3">
                            Batea will remove my identity, but keep my data
                        </div>
                    </div>
                </form>
                <div class="btn-container">
                    <button class="bottom-btn" ng-click="consentCtrl.checkQuiz()">Submit</button>
                </div>
            </div>

             <div ng-if="consentCtrl.quizFail">
                <p class="page-title">Consent Quiz</p>

                <p>You must answer at least 4 questions correctly please try again.</p>

                <div class="btn-container">
                    <button class="bottom-btn" ng-click="consentCtrl.retryQuiz()">Retry</button>
                </div>
            </div>

            <div ng-if="consentCtrl.showConsentForm">
                <p>
                    By providing the information below, and then clicking the
                    "I consent" button, you consent to participate in the study
                    and to share your data.
                    <div><a class="inline-link" href="https://batea.docgraph.com/informedconsent" target="_blank">Read the full consent document</a></div>
                </p>

                <form name="consentForm">
                    <div class="personal-info">
                        <div class="consent-form-block">
                            <label>Enter your birth year</label>
                            <select id="birth-year" ng-model="consentCtrl.form.formData.birthYear" placeholder="birth year" ng-options="year for year in consentCtrl.years" required></select>
                        </div>
                        <div class="consent-form-block">
                            <label>Enter your first name</label>
                            <input id="first-name" type="text" name="firstName" placeholder="first" ng-model="consentCtrl.form.formData.firstName" required>
                        </div>
                        <div class="consent-form-block">
                            <label>Enter your last name</label>
                            <input id="last-name" type="text" name="lastName" placeholder="last" ng-model="consentCtrl.form.formData.lastName" required>
                        </div>
                        <div class="consent-form-block">
                            <label>Enter your email address</label>
                            <input type="text" placeholder="email address" ng-model="consentCtrl.form.formData.email" required>
                        </div>
                    </div>

                    <div class="clinical-care form-separator">
                        <div class="consent-form-block">
                            <label>Are you involved in clinical care? (optional)</label>
                            <div>
                                <input type="radio" ng-model="consentCtrl.form.formData.clinicalCareInvolved" value="no">
                                No
                            </div>
                            <div>
                                <input type="radio" ng-model="consentCtrl.form.formData.clinicalCareInvolved" value="practicingPhysician">
                                I am a practicing physician
                            </div>
                            <div>
                                <input type="radio" ng-model="consentCtrl.form.formData.clinicalCareInvolved" value="midlevelProvider">
                                I am a mid-level provider (nurse, PA, etc)
                            </div>
                            <div>
                                <input type="radio" ng-model="consentCtrl.form.formData.clinicalCareInvolved" value="firstYearStudent">
                                I am a first year medical student
                            </div>
                            <div>
                                <input type="radio" ng-model="consentCtrl.form.formData.clinicalCareInvolved" value="secondYearStudent">
                                I am a second year medical student
                            </div>
                            <div>
                                <input type="radio" ng-model="consentCtrl.form.formData.clinicalCareInvolved" value="thirdYearStudent">
                                I am a third year medical student
                            </div>
                            <div>
                                <input type="radio" ng-model="consentCtrl.form.formData.clinicalCareInvolved" value="fourthYearStudent">
                                I am a fourth year medical student
                            </div>
                            <div>
                                <input type="radio" ng-model="consentCtrl.form.formData.clinicalCareInvolved" value="resident">
                                I am in a residency or fellowship program
                            </div>
                            <div>
                                <input type="radio" ng-model="consentCtrl.form.formData.clinicalCareInvolved" value="other">
                                I am another kind of clinician
                            </div>
                        </div>
                        <div class="consent-form-block">
                            <label>Are you receiving clinical care? (optional)</label>
                            <div>
                                <input type="radio" ng-model="consentCtrl.form.formData.clinincalCareReceiving" value="no">
                                No
                            </div>
                            <div>
                                <input type="radio" ng-model="consentCtrl.form.formData.clinincalCareReceiving" value="patient">
                                I am a patient
                            </div>
                            <div>
                                <input type="radio" ng-model="consentCtrl.form.formData.clinincalCareReceiving" value="caregiver">
                                I am a caregiver
                            </div>
                        </div>
                    </div>

                    <div class="med-students form-separator" ng-show="consentCtrl.isMedStudent()">
                        <p>Medical students only (based on choice above)</p>
                        <label>Enter your school email address</label>
                        <input type="text" ng-model="consentCtrl.form.formData.schoolEmail" placeholder="school email address">
                        <div>
                            <label>Enter your MCAT score (optional)</label>
                            <input type="number" ng-model="consentCtrl.form.formData.mcatScore" placeholder="MCAT score">
                        </div>
                    </div>
                </form>

                    <div class="patients-caregivers form-separator" ng-show="consentCtrl.showIllnesses()">
                        <p>Patients and caregivers only (based on choice above)</p>
                        <label>Enter the name of your illness(s)</label>
                        <div>
                            <textarea ng-model="consentCtrl.form.formData.illnesses" cols="30" rows="10"
                                placeholder="Enter a comma seperated list of your (or your loved one's) illnessess and conditions here."></textarea>
                        </div>
                    </div>

                    <div class="caregivers form-separator" ng-show="consentCtrl.isCaregiver()">
                        <p>Caregivers only (based on choice above)</p>
                        <label>For whom are you a caretaker?</label>
                        <div>
                            <input type="checkbox" ng-model="consentCtrl.form.formData.caretakerOptions.none">
                            not selected
                        </div>
                        <div>
                            <input type="checkbox" ng-model="consentCtrl.form.formData.caretakerOptions.husband">
                            Husband
                        </div>
                        <div>
                            <input type="checkbox" ng-model="consentCtrl.form.formData.caretakerOptions.wife">
                            Wife
                        </div>
                        <div>
                            <input type="checkbox" ng-model="consentCtrl.form.formData.caretakerOptions.lifePartner">
                            Other type of Spouse / Life Partner
                        </div>
                        <div>
                            <input type="checkbox" ng-model="consentCtrl.form.formData.caretakerOptions.son">
                            Son
                        </div>
                        <div>
                            <input type="checkbox" ng-model="consentCtrl.form.formData.caretakerOptions.daughter">
                            Daughter
                        </div>
                        <div>
                            <input type="checkbox" ng-model="consentCtrl.form.formData.caretakerOptions.sister">
                            Sister
                        </div>
                        <div>
                            <input type="checkbox" ng-model="consentCtrl.form.formData.caretakerOptions.brother">
                            Brother
                        </div>
                        <div>
                            <input type="checkbox" ng-model="consentCtrl.form.formData.caretakerOptions.mother">
                            Mother
                        </div>
                        <div>
                            <input type="checkbox" ng-model="consentCtrl.form.formData.caretakerOptions.father">
                            Father
                        </div>
                        <div>
                            <input type="checkbox" ng-model="consentCtrl.form.formData.caretakerOptions.grandmother">
                            Grandmother
                        </div>
                        <div>
                            <input type="checkbox" ng-model="consentCtrl.form.formData.caretakerOptions.grandfather">
                            Grandfather
                        </div>
                        <div>
                            <input type="checkbox" ng-model="consentCtrl.form.formData.caretakerOptions.grandson">
                            Grandson
                        </div>
                        <div>
                            <input type="checkbox" ng-model="consentCtrl.form.formData.caretakerOptions.grandaughter">
                            Grandaughter
                        </div>
                        <div>
                            <input type="checkbox" ng-model="consentCtrl.form.formData.caretakerOptions.aunt">
                            Aunt
                        </div>
                        <div>
                            <input type="checkbox" ng-model="consentCtrl.form.formData.caretakerOptions.uncle">
                            Uncle
                        </div>
                        <div>
                            <input type="checkbox" ng-model="consentCtrl.form.formData.caretakerOptions.cousin">
                            Cousin
                        </div>
                        <div>
                            <input type="checkbox" ng-model="consentCtrl.form.formData.caretakerOptions.other">
                            Other
                        </div>
                    </div>

                    <div class="medical-gt-two form-separator" ng-show="consentCtrl.showStepOne()">
                        <label>Enter your STEP 1 Score (optional)</label>
                        <input type="number" ng-model="consentCtrl.form.formData.step1Score" placeholder="STEP 1 score">
                    </div>

                    <div class="residents-above form-separator">
                        <div ng-show="consentCtrl.showStepTwo()">
                            <label>Enter your STEP 2 Score (optional)</label>
                            <input  id="step2-score" type="number" ng-model="consentCtrl.form.formData.step2Score" placeholder="STEP 2 score">
                        </div>
                        <div ng-show="consentCtrl.showStepTwo()">
                            <label>What medical school did you attend?</label>
                            <input id="med-school" type="text" ng-model="consentCtrl.form.formData.medSchool" placeholder="Medical School Name">
                        </div>
                        <div ng-show="consentCtrl.showStepTwo()">
                            <label>What year did you graduate medical school?</label>
                            <select id="med-year" ng-model="consentCtrl.form.formData.gradYear" placeholder="Year graduated" ng-options="year for year in consentCtrl.years"></select>
                        </div>
                        <div ng-show="consentCtrl.showNPI()">
                            <label>What is your National Provider Identifier - NPI? (US only)</label>
                            <input id="npi" type="text" ng-model="consentCtrl.form.formData.npi" placeholder="NPI">
                        </div>
                        <div ng-show="consentCtrl.showStepTwo()">
                            <label>What is your primary specialty?</label>
                            <input id="specialty" type="text" ng-model="consentCtrl.form.formData.specialty" placeholder="Specialty">
                        </div>
                        <div ng-show="consentCtrl.showStepTwo()">
                            <label>In what language do you communicate with your patients?</label>
                            <input id="language" type="text" ng-model="consentCtrl.form.formData.patientLanguages" placeholder="English, Spanish, etc">
                        </div>
                    </div>
                <div class="btn-container">
                    <input value='I consent. I am going to contribute data to the Batea Project!' class="bottom-btn" type="submit" ng-click="consentCtrl.submitConsentForm()" ng-disabled="consentForm.$invalid">
                </div>
                </form>
                    <!-- <button class="bottom-btn" ng-click="consentCtrl.submitConsentForm()">Submit</button> -->
            </div>
            <div ng-if="consentCtrl.formSuccess">
                <h2>Batea Consent Complete</h2>
                <h3>You are now a scholar in the Batea study.</h3>
                <p>
                    Thank you for joining Batea as a Co-Researcher. We are excited
                    you want to help us improve Wikipedia medical articles!
                </p>
                <p>
                    By signing up as a Co-Researcher, you have helped the study
                    significantly. Identifying yourself helps us classify your
                    data. This will be useful as we analyze and aggregate your
                    data with others' to see browsing trends.
                </p>
                <p>Remember</p>
                <p>
                    1. Batea only uploads browsing sessions to its server if
                    they are clinical-related. We have multiple checks in place
                    to make sure nothing personal is uploaded from your browser
                    or added to a Batea data set.
                </p>
                <p>
                    2. You may stop Batea from recording and uploading your
                    current session by pressing its icon in your search bar
                    (turning it red). These icon colors tell you what Batea is
                    doing:
                </p>
                <p>
                    3. Batea will de-identify and anonymize your browsing data before
                    it is released to the public. Though you have identified
                    yourself to Batea researchers, we won't identify you in any
                    of our publicly released data sets.
                </p>
                <p>
                    As a scholar, you will have:
                </p>
                <ol>
                    <li>
                        the option to promote yourself as a Batea Co-Researcher
                        (great for CVs, resumes, etc)
                    </li>
                    <li>
                        your name mentioned in data and research credits (opt-out
                        of this by emailing us)
                    </li>
                    <li>
                        ability to download and examine your own data
                    </li>
                    <li>
                        the opportunity to interact with the researchers about
                        Batea.
                    </li>
                </ol>
                <p>
                    You can visit Batea at its extension options page. There
                    you can change your browsing setting or switch back to being
                    an anonymous participant. If you ever wish to leave the Batea
                    study entirely, simply uninstall the extension.
                </p>
                <div class="btn-container">
                    <button class="bottom-btn"><a href="https://batea.docgraph.com/extension/">Visit your Batea Options</a></button>
                    <button class="bottom-btn"><a href="https://google.com" >Or start using the web normally..</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
