<div class="text-center">
    <span class="glyphicon glyphicon-heart"></span>
    <h3>Sharing Options</h3>
    <h4>DocGraph and its partners will receive your study data from your participation in
    this study.</h4>
    <h4>Sharing your coded study data more broadly (without information such as your name) may benefit this and future research.</h4>
    <h4><a href="#">Learn more</a></h4>
</div>
<hr>

<label>How would you like share your study data?</label>
<div class="form-group">

    
    <div class="radio">
        <label>
           <input type="radio" ng-model="formData.data_sharing" value="worldwide" checked>
           Share my data with DocGraph and qualified researchers worldwide.
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.data_sharing" value="partners-only">
            Only share my data with DocGraph abd its partners. 
        </label>
    </div>
</div>


<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.comprehension" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>