<div class="text-center">
    <span class="glyphicon glyphicon-heart"></span>
    <h3>Answer these Resident specific questions</h3>
    
    
    <div class="form-group">
      <label for="graduated_med_school_year">What year did you graduate medical school?</label>
      <input type="text" class="form-control" name="graduated_med_school_year" ng-model="formData.graduated_med_school_year">
    </div>
    
    <div class="form-group">
      <label for="begin_med_school_year">What year did you begin medical school?</label>
      <input type="text" class="form-control" name="begin_med_school_year" ng-model="formData.begin_med_school_year">
    </div>  
    
    <div class="form-group">
      <label for="med_school_domain">What is the domain name of your medical school?</label>
      <input type="text" class="form-control" name="med_school_domain" ng-model="formData.med_school_domain">
    </div>
    
    <div class="form-group">
      <label for="residency_domain">What is the domain name of your residency program?</label>
      <input type="text" class="form-control" name="residency_domain" ng-model="formData.residency_domain">
    </div>  
    
  </div>



<div class="form-group row">

    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="form.finalize" class="btn btn-block btn-info">
        Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
    
</div>