<div ng-if="processCtrl.pageIndex === 1">
    <p class="page-title">What's Involved</p>
    <div class="main">
        <div class="content-flex">
            <div class="med-div">
                <p>
                    Contributing portions of your browser history
                </p>
                <img src="assets/portions_of_your_browsing_425x282.png" alt="Browser History">
            </div>
            <div class="small-div">
                <p>
                    and
                </p>
            </div>
            <div class="med-div">
                <p>
                    Completing optional surveys
                </p>

                <img src="assets/optional_surveys_artboard_425x282.png" alt="Optional Surveys">
            </div>
        </div>
    </div>
</div>

<div ng-if="processCtrl.pageIndex === 2">
    <p class="page-title">What's Involved</p>
    <div class="main">
        <div class="content-flex">
            <div class="half-div">
                <p>
                    Browsing patterns included in the study are securely
                    uploaded to the Batea servers.
                </p>

                <img src="assets/data_to_trash_or_server_415_282.png" alt="Only some browser patterns image">
                <p>
                    Other browsing patterns are ignored but forgotten.
                </p>
            </div>
            <div class="half-div">
                <p>
                    Browsing patterns included in the study:
                </p>
                <ul>
                    <li>
                        Browsing history of clinical concepts
                    </li>
                    <li>
                        Browsing history related to clinical Wikipedia sites
                    </li>
                    <li>
                        Optionally browsing history related to any Wikipedia sites
                    </li>
                </ul>
                <p>
                    Read a <a class="inline-link" href=" https://batea.docgraph.com/informedconsent/#uploaded" target="_blank">complete description of which browser patterns are uploaded.</a> (opens in a new tab)
                </p>
            </div>
        </div>
    </div>
</div>

<div ng-if="processCtrl.pageIndex === 3">
    <p class="page-title">What's Involved</p>
    <div class="main">
        <div class="content-flex">
		<div class='half-div'>
            <p>
                Once you have installed the browser app, the Batea icon will
                appear in your Chrome search bar.
            </p>
            <p>
                The icon will be colored black and white when Batea is not
                recording browser history.
            </p>
		</div>
		<div class='half-div'>
            <img width='550' src="assets/black_and_white.png" alt="Black and White">
		</div>
        </div>
    </div>
</div>

<div ng-if="processCtrl.pageIndex === 4">
    <p class="page-title">What's Involved</p>
    <div class="main">
        <div class="content-flex">
		<div class='half-div'>
            <p>
                The Batea icon will turn green to indicate that your
                current browsing session will be uploaded.
            </p>

		</div>
		<div class='half-div'>

            <img width='550' src="assets/batea_turns_green.png" alt="Batea icon turns green when recording">
		</div>
        </div>
    </div>
</div>

<div ng-if="processCtrl.pageIndex === 5">
    <p class="page-title">What's Involved</p>
    <div class="main">
        <div class="content-flex">
		<div class='half-div'>
            <p>
                If you do not want your current browsing session to be uploaded,
                click the green Batea icon and turn the toggle to the "off" position.
            </p>
            <p>
                This will turn the icon red, which means it is not recording.
            </p>
		</div>
		<div class='half-div'>
            <img width='550' src="assets/one_two_three.png" alt="Click the batea icon to toggle off recording">
		</div>
        </div>
    </div>
</div>

<div ng-if="processCtrl.pageIndex === 6">
    <p class="page-title">What's Involved</p>
    <div class="main">
        <div class="content-flex">
		<div class='half-div'>
            <p>
                This video details how Batea works, and specifically explains how to control what Batea is uploading.
            </p>
		</div>
		<div class='half-div'>

<iframe src="https://player.vimeo.com/video/145590419" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

		</div>
        </div>
    </div>
</div>

<div class="btn-container">
    <button class="bottom-btn" ng-click="processCtrl.handleNext()">Next</button>
</div>
