<div ng-if="processCtrl.showFirst">
    <div class="main">
        <div class="content">
        </div>
    </div>
</div>

<div ng-if="processCtrl.showSecond">
    <div class="main">
        <div class="content">
        </div>
    </div>
</div>

<div ng-if="processCtrl.showThird">
    <div class="main">
        <div class="content">
        </div>
    </div>
</div>

<div ng-if="processCtrl.showFourth">
    <div class="main">
        <div class="content">
        </div>
    </div>
</div>

<div ng-if="processCtrl.showFifth">
    <div class="main">
        <div class="content">
        </div>
    </div>
</div>

<div ng-if="processCtrl.showSixth">
    <div class="main">
        <div class="content">
        </div>
    </div>
</div>

<button>Next</button>