<div>
    <div class="main">
        <div class="content" ng-if="riskCtrl.pageIndex === 1">
            <p>
                Named Batea Scholars have the ability to take credit
                for participating in Batea research (although this is
                not required).
            </p>
            <p>
                Specfically, Scholars:
            </p>
            <ul>
                <li>
                    Will be mentioned in data and research credits (
                    unless you specifically request not to be by
                    contacting the researchers)
                </li>
                <li>
                    Will be welcome and encouraged to promote your
                    participation in the Batea project
                </li>
                <li>
                    Are allowed to interact with researchers to improve
                    the project
                </li>
                <li>
                    Will be able to download and interact with their
                    own browsing pattern data
                </li>
                <p>
                    <a href="#">Learn more</a> about the benefits
                    of participating in Batea research
                </p>
            </ul>
        </div>

        <div class="content" ng-if="riskCtrl.pageIndex === 2">
            <p>
                It is possible that you will find the infrequent
                survey popups annoying, or distracting.
            </p>
            <p>
                There is no obligation for you to fill out any given
                survey, and you can turn them off entirely in the
                extension options page.
            </p>
            <p>
                <a href="#">Learn more</a> about how to turn off the
                surveys.
            </p>
        </div>

        <div class="content" ng-if="riskCtrl.pageIndex === 3">
            <p>
                There is always a small chance that your information
                could be accidentally released to the Internet.
            </p>
            <p>
                If you are a clinician, researcher, or other kind of
                expert, your specific clinical browsing patterns could
                potentially be especially damaging to you. In the worst
                case, this could lead to accusations of imcompetence or
                malpractice.
            </p>
            <p>
                Some academic researchers continue to regard participation
                with Wikipedia as unsound. It might be possible that
                some academics could regard participation as the
                pre-publication of academic results.
            </p>
            <p>
                <a href="#">Learn more</a> about special risks to clinical,
                academic, or research professionals.
            </p>
        </div>
    </div>
    <button ng-click="riskCtrl.handleNext()">Next</button>
</div>